.card-list {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  align-items: center;
  justify-items: center;
  grid-row-gap: 50px;
  margin-bottom: 3em;
  margin-top: 2em;
}
